{% extends "layout.html" %}

{% block title %}Search for a book!{% endblock %}

{% block content %}
<div class="container">
    {% if messages %}
    <div class="row">
    {% for message in messages %}
    <div class="well">
    {{ message }}
    </div>
    {% endfor %}
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="{{ url_for('index') }}">
                <h2>Search</h2>
                {% if message is defined %}
                <p>No books were found</p>
                {% endif %}
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Enter ISBN, title or author of the book you are looking for" name="search_string">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">Go!</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}