{% extends "layout.html" %} {% block title %} Login {% endblock %} {% block loginstate %}
<div>
    <a href="/register" class="btn btn-default navbar-btn navbar-right">Register</a>
</div>
{% endblock %} {% block content %}
<div class='container'>
    <div class='row'>
        <div class='col-md-4 col-md-offset-4'>
            <h2 class="text-center">Please log in</h2>
            <form method="POST">
                <div class="form-group">
                    <label for="inputLogin">Login</label>
                    <input type="text" class="form-control" id="inputLogin" placeholder="Login" name="login">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}